        <!-- Portfolio Start -->
    <section id="portfolio-work">
        <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="block">
                  <div class="portfolio-menu">
                    <ul>
                        {% assign filters = site.data.portfolios | group_by: 'type' %}
                        {%for filter in filters%}
                          <li class="filter" data-filter=".{{filter.name}}">{{filter.name}}</li>
                        {%endfor%}
                    </ul>
                  </div>
                  <div class="portfolio-contant">
                    <ul id="portfolio-contant-active">
                      {%for portfolio in site.data.portfolios %}
                      <li class="{{portfolio.class}}">
                        <a href="#">
                          <img src="{{portfolio.image}}" alt="">
                          <div class="overly">
                            <div class="position-center">
                              <h2>{{portfolio.title}}</h2>
                              <p>{{portfolio.description}}</p>
                            </div>
                          </div>
                        </a>
                    </li>
                    {%endfor%}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>
