---
layout: default
---

{% include subpage-header.html %}
<!-- Post Content -->
<article id="post">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-offset-2">
                <h2>{{ page.title }}</h2>

                <p class="meta">Posted by <a href="#">{{ page.author }}</a> {{ page.date | date: "%B %d, %y"}}</p>
                {{ page.content }}

                {% if page.previous %}
                    <span class="previous-link">
                        <a href="{{ page.previous.url}}">Previous article</a>
                    </span>
                {% endif %}
                {% if site.comments %}
                  {% include comments.html %}
                {% endif %}
                {%if page.next %}
                    <span class="next-link pull right">
                        <a href="{{ page.next.url}}">Next article</a>
                    </span>
                {%endif%}
            </div>
             <div class="col-sm-2">
                {% for category_name in page.categories limit: 1 %}
                    {{category_name | capitalize}}

                    {% for post in site.categories[category_name] limit: 5%}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</article>
